nav .nav-item .nav-link{
    color:black;
    font-weight: 500;
}
a{
    text-decoration: none;
}
section#title-section{
    background: url(../images/bg_gradient.png) no-repeat;
}

.section-content{

    width:50%;
    height:fit-content;

    
}
.section-content p{
color:#94A2B3;
}

.right-img{

    width:50%;
    height:auto;
 
}
.right-img img{
    width:100%;
}
.border-22{
    border-radius:22px;
}

@media (max-width: 767.98px) { 
    .right-img, .container .section-content{
        text-align: center;
    }
    .right-img img{
       width: 60%; 
    }
}
#commerce-section .content-img{
    height: 275px;
}
#commerce-section .content-img img{
   
    position: absolute;
    top:0;
    left: 0;
}